<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Use the title from a page's frontmatter if it has one -->
  <title><%= current_page.data.title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_tag 'images/icon.png' %>

</head>
<body>
  <%= partial "layouts/navbar" %>
  <%= yield %>

  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script type="text/javascript">
    window.sr = ScrollReveal({ duration: 2000 });
    sr.reveal('.medico-container', 50);
    sr.reveal('.radar-container', 50);
    sr.reveal('.extra-container', 50);
    sr.reveal('.medium-container', 50);
    sr.reveal('.about-background', 50);

    const modal = document.getElementById('myModal');

    // Get the button that opens the modal
    const btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    const span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

  </script>
</body>
</html>
